/* Write your CSS here */
.team-matches-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.responsive-container {
  width: 90%;
  margin-top: 48px;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    margin-top: 96px;
    max-height: 1110px;
  }
  .recent-matches-list {
    margin-top: 32px;
  }
  .bg-container {
    padding: 10px;
  }
  .recent-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-banner {
  width: 100%;
}

.recent-matches-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 24px;
}

.rcb {
  background-image: linear-gradient(to top, #1e293b, #a4261d);
}

.kkr {
  background-image: linear-gradient(to top, #1e293b, #5755a7);
}

.kxp {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
}

.csk {
  background-image: linear-gradient(to top, #1e293b, #f7db00);
}

.rr {
  background-image: linear-gradient(to top, #1e293b, #da237b);
}

.mi {
  background-image: linear-gradient(to top, #1e293b, #13418b);
}
.sh {
  background-image: linear-gradient(to top, #1e293b, #f26d22);
}
.dc {
  background-image: linear-gradient(to top, #1e293b, #4f5db0);
}

.recent-matches-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .recent-matches-list {
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .recent-matches-list {
    margin-top: 32px;
  }
}

.bg-container {
  padding: 50px;
}
.recent-list {
  display: flex;
  flex-wrap: wrap;
}
.banner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.latest-name {
  text-align: center;
}
